@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1a2c36;
}
.type-writer-title{
    color: #ececec;
    
    font-family: 'Roboto Mono', monospace;
}


li, a ,button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 16px;
    color: #ececec;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 1%;
    justify-content: space-evenly;
}
header a:hover {
    color: #b34e4e;
  }
  
  /* Style the active/current link*/
header a.active {
    color: #fa6e6e;
}
.centered_text {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    color: #ececec;
    text-align: center;
    font-size: medium;
}
.full_center {

    position: a;           /* 3 */
    transform: translate(0, -50%);
}

.contact_field{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    align-items: center;
    justify-content:space-evenly;
}
.contact_field_text{
    margin-left: 50px;
    display: inline-block;
    vertical-align: 43px;
    color: #ececec;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: medium;
    align-items: center;
}
.contact_field_icon{
    margin-left: 50px;
    vertical-align: 20px;
    display: inline-block;
    width: 3.5%;
    height: auto;
    align-items: center;
}